.button_container {
    width: 100%;
    height: 3.8rem
        /* 56px */
    ;
    margin-top: 1rem
        /* 16px */
    ;
    margin-bottom: 1rem
        /* 16px */
    ;
    border: none;
}



.button_full {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #34A56F;
    transition: all 300ms ease-in-out;
    border: none;
    border-radius: 8px;
}

.button_full:hover {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #34A56F;
    transform: scale(1.005);

    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.button_full:disabled {
    background-color: #dddddd;
    box-shadow: none;
    transform: none;

}

.button_medium {
    font-size: 1rem
        /* 16px */
    ;
    line-height: 1.5rem
        /* 24px */
    ;
    height: 100%;
    width: 13rem
        /* 208px */
    ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #34A56F;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    border: none;
    border-radius: 8px;
}


.button_medium:hover {
    height: 100%;
    width: 13rem
        /* 208px */
    ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #34A56F;
    transform: scale(1.1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.button_medium:disabled {
    background-color: #dddddd;
    box-shadow: none;
    transform: none;

}

.button_small {
    font-size: 1rem
        /* 16px */
    ;
    line-height: 1.5rem
        /* 24px */
    ;
    /* height: 100%; */
    width: max-content;
    padding: 10px 10px 10px 10px
        /* 160px */
    ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #34A56F;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    border: none;
    border-radius: 8px;
}

.button_small:hover {
    /* height: 100%; */
    width: max-content
        /* 160px */
    ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #34A56F;
    transform: scale(1.1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.button_small:disabled {
    background-color: #dddddd;
    box-shadow: none;
    transform: none;

}

.button_text {
    font-size: 1.125rem
        /* 18px */
    ;
    line-height: 1.75rem
        /* 28px */
    ;
}